/*--------------------------------------------------------------
# Général
--------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Raleway", serif;
  position: relative;
  height: 100%;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

/*--------------------------------------------------------------
# Navbar 
--------------------------------------------------------------*/
.navbar {
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: rgba(0, 0, 0, 0.7); /* Noir avec 70% de transparence */
  backdrop-filter: blur(10px); /* Applique un flou de 10 pixels */
  -webkit-backdrop-filter: blur(
    10px
  ); /* Support pour les anciens navigateurs WebKit */
  border-radius: 10px;
}

/*--------------------------------------------------------------
# Homepage 
--------------------------------------------------------------*/
.hero-section {
  background-color: #032b35f4;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

.typing-effect-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  font-size: 2.5rem;
  font-family: "Raleway dots", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white; /* Curseur clignotant */
  width: 0; /* Initialement, la largeur est de 0 */
  animation: typing 3s steps(30, end) forwards,
    blink-caret 0.75s step-end infinite;
}

/* Animation d'écriture pour chaque ligne */
.line:nth-of-type(1) {
  animation-delay: 0s; /* Premier texte commence immédiatement */
}

.line:nth-of-type(2) {
  animation-delay: 3s; /* Deuxième texte commence après 3 secondes */
}

.line:nth-of-type(3) {
  animation-delay: 6s; /* Troisième texte commence après 6 secondes */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
